# This is a basic workflow to help you get started with Actions
name: CI_DB
permissions:
  contents: write
  packages: write

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "master" branch
  push:
    branches: [ "db" ]
  pull_request:
    branches: [ "db" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'
        required: true
        default: 'warning'
        type: choice
        options:
        - info
        - warning
        - debug

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build:
    needs: push_to_registry
    if: ${{ github.event.workflow_run.conclusion != 'failure' }}
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3
      - name: Build docker compose
        run: docker compose -f docker-compose.db.yml build --no-cache --force-rm
  test:
    needs: build
    if: ${{ github.event.workflow_run.conclusion != 'failure' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Test
        run: docker compose -f docker-compose.db.yml up
  push_to_registry:
    needs: test
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion != 'failure' }}
    steps:
      - name: checkout
        if: ${{ github.event.inputs.version == '' || github.event.inputs.version == 'latest' }}
        uses: actions/checkout@v3
      # Assign environment variables used in subsequent steps
      - name: Env variable assignment
        run: echo "image_repository_name=${{ github.event.inputs.image_repository_name }}" >> $GITHUB_ENV
    # This workflow contains a single job called "build"
  deploy_via_ssh:
    needs: push_to_registry
    if: ${{ github.event.workflow_run.conclusion != 'failure' }}
    runs-on: ubuntu-latest
    steps:
      - name: Create .env file
        run: |
          echo "Generating .env file"
