# This is a basic workflow to help you get started with Actions
name: CI_DB

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "master" branch
  push:
    branches: [ "db" ]
  pull_request:
    branches: [ "db" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'
        required: true
        default: 'warning'
        type: choice
        options:
        - info
        - warning
        - debug

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion != 'failure' }}
    runs-on: ubuntu-latest
    steps:
      - name: Create .env file
        run: |
          echo "POSTGRES_PASSWORD=${{ secrets.POSTGRES_PASSWORD }}"
          echo "ENV=${{ env.db.DEPLOY_HOST }} ${{ env.db.DEPLOY_USERNAME }}"
          echo "Generating .env file"
          echo "# Autogenerated .env file" > .env
          echo "POSTGRES_PASSWORD=${{ secrets.POSTGRES_PASSWORD }}" >> .env
      - name: Copy files to target server via scp
        uses: appleboy/scp-action@master
        with:
          host: ${{ env.DEPLOY_HOST }}
          username: ${{ env.DEPLOY_USERNAME }}
          key: ${{ secrets.DEPLOY_KEY }}
          port: ${{ env.DEPLOY_PORT }}
          source: .env
          target: .env

      - name: Copy files to target server via scp
        uses: appleboy/scp-action@master
        with:
          host: ${{ env.DEPLOY_HOST }}
          username: ${{ env.DEPLOY_USERNAME }}
          key: ${{ secrets.DEPLOY_KEY }}
          port: ${{ env.DEPLOY_PORT }}
          source: docker-compose.db.yml
          target: docker-compose.db.yml

      - name: Deploy
        uses: appleboy/ssh-action@master
        with:
          host: ${{ env.DEPLOY_HOST }}
          username: ${{ env.DEPLOY_USERNAME }}
          key: ${{ secrets.DEPLOY_KEY }}
          port: ${{ env.DEPLOY_PORT }}
          script: |
            docker compose -f docker-compose.db.yml up -d
